.Banner{
  background-color: #354556;
}
.bannertitle{
  font-size: 40px;
  font-family: "Lato",sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 45px;
  padding-bottom: 40px;
}
/*content*/
.content{
  margin-top: 75px;
  text-align: center;
width: 100%;
}
.content>h1{
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Lato",sans-serif;
  color: rgb(22, 160, 133);
  font-weight: 100;
}
.content>p{
  margin-bottom: 38px;
  font-size: 16px;
  font-family: "Lato",sans-serif;
  color: rgb(127, 140, 141);
  font-weight: 100;
}
.content>button{
  text-transform: uppercase;
  width: 225px;
  height: 35px;
  border: 1px solid rgb(22, 160, 133);
  background-color: white;
  color: rgb(22, 160, 133);
  font-weight: bold;
}
.content>button:hover{
  background-color: rgb(22, 160, 133);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.Content{
  padding-bottom: 50px;
}
